.blue{background: #4285F4 !important;}
.darkblue{background: #2980b9 !important;}
.green{background: #2ecc71 !important;}
.asphalt{background: #2c3e50 !important;}
.purple{background: #8e44ad !important;}
.yellow{background: #f1c40f !important;}
.gray{background: #7f8c8d !important;}