@import url("../css/colors.css");
.box{
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
	height: 80px;
	background: #FFF;
	padding: 0px 0px 0px 16px;
	cursor: pointer;
	margin: 16px 0px;
}
.box h5{
	position: absolute;
	line-height: 80px;
	margin: 0px;
}
.mainbox{
	margin: 10px auto;
	width: 500px;
}
body {
	font-family: Raleway;
	background:#f1f1f1;
}
.label {
	float: right;
	color: #fff;
	padding: 2px 6px 4px 6px;
	height: 75px;
	margin-top: 1px;
	line-height: 75px;
	font-size: 12px;
	font-weight: 400;
	display: inline;
	top: -1px;
	text-align: center;
	position: relative;
	letter-spacing: .01em;
}

.verticalLine {
	text-transform: uppercase;
	background-color:#4285F4;
	color: #fff;
	margin:-8px 0;
	padding: 4px; 
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	text-align: center;
	font-weight: 500;
}
.svg{
	width: 20px;
	height: 20px;
	margin-bottom: -5px;
}
@media (max-width:720px){
	.mainbox{
		margin: 5px auto !important;
		width: 100% !important;
	}
}
