.btn{
	padding:4px !important;
	border: none !important;
}
.addbtn{
	margin: -8px 0px 26px 0px !important;
	width: 50px !important;
	height: 50px;
	border-radius: 100px;
	font-size:24px;
}
.addbtn:hover{
	box-shadow: none !important;
	font-size:30px;
}
.donatebtn{
	color: #000 !important;
	float: right;
	font-size: 12px;
	display: inline;
	position: relative;
	margin-top: 28px !important;
	margin-right: 12px !important;
}