body {
    background-color: #f8f8fa;
    font-family: "San Francisco Display", "San Francisco", arial;
}    
.text-centered{
    text-align: center;
}
.card:hover {
    box-shadow: 0 30px 60px rgba(0, 0, 0, .5);
}
.card {
    min-width: 200px;
    position: relative;
    width: 45vw;
    margin: 2em auto;
    color: #111111;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.card:before {
    content: "";
    width: 100%;
    padding-top: 75%;
    display: block;
}
.card > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card .icon {
    width: 10vw;
    height: 10vw;
    border-radius: 2.5vw;
    position: absolute;
    top: 20px;
    left: 20px;
    background-size: cover;
}
.card .background {
    background-size: cover;
    background-position: center left;
    filter: opacity(0.25) contrast(1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card .title {
    position: absolute;
    top: calc( 10vw + ( 20px * 2 ) );
    left: 20px;
    font-size: 5vw;
    line-height: 0.8em;
    text-transform: uppercase;
    font-weight: 900;
}
.card .name {
    position: absolute;
    left: 20px;
    bottom: 45px;
}
.card .button {
    padding: 8px 20px;
    background-color: #f3f2f8;
    display: inline-block;
    border-radius: 20px;
    color: #1273ff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
@media (max-width: 760px) {
    .card {
        width: 80vw !important;
    }
}